
.cell {
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
}
.normal { background-color: #fff; }
.infected { background-color: #f00; }
.recovered { background-color: #0f0; }

#grid {
    display: grid;
    grid-template-columns: repeat(25, 20px); /* x columns */
    grid-template-rows: repeat(25, 20px); /* x rows */
    justify-content: center;
    height: 50%;
    margin: 0 auto;
}

body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}